server {
    listen       80  default_server;
    server_name  io.livecode.ch;
    location /static {
      alias /var/www/io.livecode.ch/pub/static;
    }
    location / {
      uwsgi_pass unix:/run/uwsgi/app/io.livecode.ch/socket;
      include uwsgi_params;
      uwsgi_param SCRIPT_NAME '';
      uwsgi_param HTTP_HOST $server_name;
      uwsgi_intercept_errors on; # let nginx serve error_page
    }
}
