{% extends "base.html" %}

{% block head_extra %}
<link rel="stylesheet" href="/static/lib/CodeMirror/lib/codemirror.css" type="text/css" />
<link rel="stylesheet" href="/static/livecode.css" type="text/css" />
<script src="/static/lib/CodeMirror/lib/codemirror.js"></script>
{% if language %}
{% if language in ['c','java','scala']  %}
<script src="/static/lib/CodeMirror/mode/clike/clike.js"></script>
<script src=/static/lib/CodeMirror/mode/shell/shell.js></script>
{% else %}
<script src="/static/lib/CodeMirror/mode/{{ language }}/{{ language }}.js"></script>
{% endif %}
{% endif %}
<style type="text/css">
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
</style>
{% endblock %}

{% block body_top_extra %}

{% block save %}
<div class="save">
</div>
{% endblock %}

<a href="https://github.com/{{user}}/{{repo}}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
{% endblock %}

{% block body_extra %}
<script>
$(function() {
  function create_editor(id, mode) {
    {% if language %}
    if (mode == undefined) {
      mode = {% if language in ['c','java','scala'] %}'text/x-{{ language }}'{% else %}'{{ language }}'{% endif %}
    }
    {% endif %}
    return CodeMirror.fromTextArea(document.getElementById(id), {
      mode: mode,
      tabMode: 'indent',
      lineNumbers: true
    });
  }

  var editors = {}
  $('.live').each(function(index) {
    var id = $(this).attr('id');
    var libs = $(this).attr('data-lib');
    var mode = $(this).attr('data-mode');
    var code_id = 'code-'+id;
    var check_id = 'check-'+id;
    var output_id = 'output-'+id;
    var code = $(this).text();
    var extra = "";
    if (typeof livecode_html_extra != "undefined") {
      extra = livecode_html_extra(id);
    }
    $(this).text("");
    $(this).html("<textarea name="+code_id+" id="+code_id+">"+code+"</textarea><div><i id="+check_id+" class=\"fa fa-play-circle-o icon\"></i> <pre class=output id="+output_id+"></pre>"+extra+"</div>");
    editors[id] = create_editor(code_id, mode);
    $('#'+check_id).click(function () {
      $('#'+check_id).addClass('running');
      var lib_txt = libs ? $.map(libs.split(' '), function(lib_id) {
        return editors[lib_id].getValue();
      }).join('\n') : '';
      var app_txt = editors[id].getValue();
      $.post('/api/run/{{ user }}/{{ repo }}', {'pre':lib_txt, 'main':app_txt, 'post':''}, function (data) {
        if (typeof livecode_process_data != "undefined") {
          data = livecode_process_data(id, data);
        }
        $('#'+output_id).text(data);
        $('#'+check_id).removeClass('running');
      });
    })


    if ($(this).hasClass('exo')) {
      var sol_id = 'sol-'+id;
      var exo_id = 'exo-'+id;
      var solshow_id = 'solshow-'+id;
      $('#'+exo_id).prepend("<i id="+solshow_id+" class=\"fa fa-check-circle-o icon\"></i> ");
      $('#'+solshow_id).click(function () {
        editors[id].setValue($('#'+sol_id).text());
      })
    }

    if ($(this).hasClass('norun')) {
      $('#'+check_id).addClass('hidden');
    }
  });

  $('.save').each(function(i) {
    var save_id = 'save-'+i;
    $(this).append("<i id="+save_id+" class=\"fa fa-floppy-o icon\"></i> ");
    $('#'+save_id).click(function () {
      var fs = {};
      $.each(editors, function (k,v) {
        fs[k] = editors[k].getValue();
      });
      $.post('/api/save/{{ user }}/{{ repo }}', fs, function(data) {
        window.location.hash = data;
      })
    })
  });

  if (window.location.hash) {
    var id = window.location.hash.slice(1);
    $.get('/api/load/{{ user }}/{{ repo }}/'+id, function(data) {
      $.each(data, function (k,v) {
        var e = editors[k];
        if (e) {
          e.setValue(v);
        }
      });
    })
  }
});
</script>

{{ self.save()|safe }}

<div class="footer">
powered by <a href="http://io.livecode.ch">io.livecode.ch</a>
</div>
{% endblock %}
