.icon {
  font-size: 2em;
}
.icon:hover {
  cursor: pointer;
  color: green;
}
.running {
  color: red!important;
}
.output {
  vertical-align: top;
  display: inline-block;
  font-size: 1em;
}
.viewcode {
  width: 100%;
  border: 0;
}
.save {
  text-align: right;
  margin-bottom: 1em;
}

/* work-around android zoom focus */
textarea:focus { font-size: 16px!important}
.pseudocode { text-align: center; }
.sol { display: none; }